@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-news { 

  height: 3rem;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius:.9rem;
  background-color: #121212;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
    /* Sombra superior */
    0 8px 16px rgba(0, 0, 0, 0.4),
    /* Sombra inferior */
    4px 0 4px rgba(0, 0, 0, 0.1),
    /* Sombra derecha */
    -4px 0 4px rgba(0, 0, 0, 0.1);
  /* Sombra izquierda */
}

.tag-list {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  gap: 1rem 0;
  position: absolute;
  padding: 1.5rem 0;
  overflow: hidden;
}

.loop-slider {
  .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  margin-right: 1rem;

  span {
    font-size: 1.2rem;
    color: #64748b;
  }
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Agrega estilos personalizados para los botones dentro del SweetAlert */
.swal2-popup #google-sign-in-btn,
.swal2-popup #github-sign-in-btn {
  background-color: white;
  
  color: gray;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 66.6%;
  transition: 0.3s ease-in-out;
  margin: 0.7rem auto;
  border: 1px solid #4d61fc; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.swal2-popup #google-sign-in-btn:hover,
.swal2-popup #github-sign-in-btn:hover {
  background-color: #4d61fc;
  color: white;
  border: 1px solid #4d61fc; 
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.swal2-popup svg {
  width: 2rem;
  height: 2rem;
}
.swal2-input{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  margin-bottom: 1rem;
  width: 66.6%;
}
.swal2-input:hover{
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);

}
.lines{
  height: 1px;
background-color:gary;
width: 15%;
}

#recaptcha-container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .swal2-popup #google-sign-in-btn,
  .swal2-popup #github-sign-in-btn,
  .swal2-popup .swal2-input {
    width: 100%;
  }
}




/* Agrega estilos personalizados para los botones de SweetAlert2 */
.swal2-popup .swal2-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swal2-popup .swal2-actions button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

/* Estilos específicos para cada botón */
.swal2-popup .swal2-confirm {
  background-color: white; /* Verde para el botón de confirmar (Facebook) */
  color: gray;
  
}

.swal2-popup .swal2-deny {
  background-color: white; /* Verde para el botón de confirmar (Facebook) */
  color: gray;
}

.swal2-popup .swal2-cancel {
  background-color: white; /* Verde para el botón de confirmar (Facebook) */
  color: gray;
}

/* ... Agrega estilos adicionales según sea necesario ... */

.custom-title{
  color: #000000;
  font-size: 1.1rem;
  font-weight: 500;
}

.custom-container {
  display: flex;
  flex-direction: column;

 
 
 
}

.custom-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: #000000;
  padding: 0rem 1rem;
  transition: ba 0.03s ease-in-out;
  border-radius: 0.3rem;
  border: none;
  background-color: #ffffff;
  &:hover{
    background-color: #f1f1f1;
  }
  @media screen and (min-width: 500px) {
    padding: 0.5rem 1rem;
  }
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  p{
    margin: 0;
    font-size: 1rem;
  }
}

.custom-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.arow-share {
  margin:0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    width: 1rem;
    height: 1rem;
    color: #000000;
  }
}
