@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  background-color: #0f0f0f;
  font-family: 'Inter', sans-serif;
}

.scroll-news {
  height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:.9rem;
  background-color: #121212;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
    /* Sombra superior */
    0 8px 16px rgba(0, 0, 0, 0.4),
    /* Sombra inferior */
    4px 0 4px rgba(0, 0, 0, 0.1),
    /* Sombra derecha */
    -4px 0 4px rgba(0, 0, 0, 0.1);
  /* Sombra izquierda */
}

.tag-list {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  gap: 1rem 0;
  position: absolute;
  padding: 1.5rem 0;
  overflow: hidden;
}

.loop-slider {
  .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  margin-right: 1rem;

  span {
    font-size: 1.2rem;
    color: #64748b;
  }
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}