@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  box-sizing: border-box;
  height: auto;
}

body {

  padding: 0;
  height: 100%;
  margin: 0;
  background-color: #0f0f0f;
  font-family: 'Inter', sans-serif;
}